// *************************************
//
//   Breakpoints
//
// *************************************


$baby-bear: 320px;
$mama-bear: 600px;
$papa-bear: 980px;
$double-bear: min-resolution 1.5dppx;